.box{
    font-size: 40px;
    background-color: aquamarine;
    border: 4px solid rgb(207, 40, 40);
    padding: 10px;
}

.boxes{
    height: calc(100vh);
    position: relative;

    display: grid;
    justify-content: flex-start;
    gap: 20px 50px;
    
    grid-template-columns: 1fr 2fr 3fr;
}