
.boxes{
  /*  height: calc(100vh); */
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  /*  align-items: center; */
    justify-content: center;
    align-content:center ;
    justify-content: space-between;
    gap: 5px 3px ;
}

.box{
    min-height: 5rem;
    min-width: 5rem;
    padding: 1.5rem;
    border: 8px solid blue;
    border-radius: 4px;
    color: white;
    background-color: rgba(103, 103, 214, 0.699);
    font-size: 4rem;
    display: inline-block;
}